<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">
    
    <title>Marcos Martínez</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Special+Elite&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./estilo/estilo.css">
</head>
<body class="indexBody">
    <!-- inicio nav -->
    <nav class="indexNav">
        <!-- apertura de lista  -->
        <ul class="nav__body">
            <li><button class="btn btn1 nav__inicio"><a class="anchor" href="#">Inicio</a></button></li>
            <li><button class="btn"><a class="anchor" href="views/publicaciones.html">Publicaciones</a></button></li>
            <li><button class="btn nav__inicio"><a class="anchor" href="views/sobremi.html">Sobre mi</a></button></li>
            <li><button class="btn"><a class="anchor" href="views/presentaciones.html">Presentaciones</a></button></li>
            <li><button class="btn nav__inicio"><a class="anchor" href="views/contacto.html">Contacto</a></button></li>
        </ul>
        <!-- cierre lsita -->
    </nav>
    <!-- cierre nav -->

    <!-- header -->
    
    <header class="indexHeader">
        <a href="./views/publicaciones.html#metapsicosis"><img class="portadaShadow portadaLight " src="./assets/portada_metapsicosis.png" alt="portada_meta"></a>
        <a href="./views/publicaciones.html#rostromael" target="#rostromael"><img class="portadaShadow portadaLight" src="./assets/rostromael_portada.png" alt="portada_mael"></a>
    </header>
    <!-- cierre header -->

    <!-- inicio main -->
    <main class="cuerpoContenido">
        
        <h1>Bienvenido</h1>
        
        <p class="cuerponoticia cnprimera">
            Aquí encontraras toda la información 
            sobre mis publicaciones, presentaciones, 
            próximos proyectos y también un poco sobre
            mi vida privada.
        </p>
        <p class="cuerponoticia cnsegunda">
            Si sos un amante del terror y lo sobrenatural, llegaste al lugar indicado. <br>
            Acomodate en tu asiento, dale un sorbo a tu bebida, y preparate para comenzar 
            con un viaje sin retorno a lo más recóndito de tu alma.
        </p>
    </main>

    <!-- cierre main -->
    
    <!-- inicio footer -->
    <footer class="indexFooter">
        <div class="footer__social ft--radius">
            <a target="_blank" href="https://www.instagram.com/pasaje_vespertino/">
                <img src="./assets/instagram_logo2-1.png" alt="Instagram" width="50">
            </a>
            
        </div>
        <div class="footer__social ft--radius">
            <a target="_blank" href="https://www.facebook.com/alsophocus13">
            <img src="./assets/facbook_logo2-1.png" alt="Facebook" width="50">
        </a>
        </div>
        <div class="footer__social logo__twitter">
            <a target="_blank" href="https://twitter.com/elmetapsicotico">
            <img src="./assets/twitter_logo2-1.png" alt="Logo Twitter" width="50">
        </a>
        </div>
        <div class="derechos">
            ® Diseñado por Facundo Alcorta
        </div>
    </footer>

    <!-- cierre footer -->
    
</body>
</html>