<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon.png" type="image/x-icon">

    <title>Presentaciones</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Special+Elite&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../estilo/estilo.css">
</head>
<body>

    <!-- apertura barra nav -->

    <nav class="body__nav">
        <!-- apertura de lista  -->
        <ul class="nav__body">
            <li><button class="btn nav__inicio"><a class="anchor" href="../index.html">Inicio</a></button></li>
            <li><button class="btn"><a class="anchor" href="./publicaciones.html">Publicaciones</a></button></li>
            <li><button class="btn nav__inicio"><a class="anchor" href="./sobremi.html">Sobre mi</a></button></li>
            <li><button class="btn btn1"><a class="anchor" href="#">Presentaciones</a></button></li>
            <li><button class="btn nav__inicio"><a class="anchor" href="./contacto.html">Contacto</a></button></li>
        </ul>
        <!-- cierre lsita -->
    </nav>
    <!-- cierre barra nav -->

    <main class="cuerpo__presentaciones">
        <section>
            <div>
                <h2 class="pres__titulo">Entrevistas</h2>
            </div>

            <!-- apertura entrevistas -->

            <div>
                <h3 class="pres__subtitulo">AutoresFest 2020-El paseo de Theresa Esther Alarcón-Marcos Martínez</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/R_CR6cBMI9A" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>

            <div>
                <h3 class="pres__subtitulo">Entrevista con @maiditafilippini</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/_1HjmolQCH4" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>

            <div>
                <h3 class="pres__subtitulo">Entrevista en @nomehablesradio 30-11-2019</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/4G-3Pb7S3Yg" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>

            <!-- cierre entrevistas -->

        </section>

<!-- apertura lecturas en vivo -->
        <section>
            <div>
                <h2 class="pres__titulo">Presentaciones en vivo</h2>
            </div>

            <div>
                <h3 class="pres__subtitulo">Mitternacht en unplug bar 15/09/2019</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/wq-Pxhrqkho" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>

            <div>
                <h3 class="pres__subtitulo">La llama negra El culto de la hermandad negra 13/09/2018</h3>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EfmyBOtQVAQ" 
                title="YouTube video player" frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen></iframe>
            </div>
        
        </section>
        <!-- cierre lecturas en vivo -->
    
    </main>

    <hr>

    <!-- apertura footer -->

    <footer class="indexFooter">
        <div class="footer__social ft--radius">
            <a target="_blank" href="https://www.instagram.com/pasaje_vespertino/">
                <img src="../assets/instagram_logo2-1.png" alt="Instagram" width="50">
            </a>
            
        </div>
        <div class="footer__social ft--radius">
            <a target="_blank" href="https://www.facebook.com/alsophocus13">
            <img src="../assets/facbook_logo2-1.png" alt="Facebook" width="50">
        </a>
        </div>
        <div class="footer__social logo__twitter">
            <a target="_blank" href="https://twitter.com/elmetapsicotico">
            <img src="../assets/twitter_logo2-1.png" alt="Logo Twitter" width="50">
        </a>
        </div>
        <div class="derechos">
            ® Diseñado por Facundo Alcorta
        </div>
    </footer>

    <!-- cierre footer -->
    
</body>
</html>