<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/favicon.png" type="image/x-icon">

    <title>Publicaciones</title>

    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Special+Elite&family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../estilo/estilo.css">
</head>
<body class="body">

    <!-- apertura barra nav -->

    <nav>
        <!-- apertura de lista  -->
        <ul class="nav__body">
            <li><button class="btn nav__inicio"><a class="anchor" href="../index.html">Inicio</a></button></li>
            <li><button class="btn btn1"><a class="anchor" href="#">Publicaciones</a></button></li>
            <li><button class="btn nav__inicio"><a class="anchor" href="./sobremi.html">Sobre mi</a></button></li>
            <li><button class="btn"><a class="anchor" href="./presentaciones.html">Presentaciones</a></button></li>
            <li><button class="btn nav__inicio"><a class="anchor" href="./contacto.html">Contacto</a></button></li>
        </ul>
        <!-- cierre lsita -->
    </nav>

    <!-- cierre barra nav -->


    <main class="principal">
        <section class="section">
            <div class="principal__titulo">
                <h1 id="metapsicosis">
                    Metapsicosis, cuentos y poemas. Fecha de publicación: 03/08/2019
                </h1>
            </div>

            <div class="libros__img" >
                <img src="../assets/portada_metapsicosis.png" alt="Metapsicosis">
            </div>

            <div class="libros__texto">
                <p>
                    En esta obra, el autor nos concede tres historias de horror esotérico, en las cuales vemos reflejados nuestros temores más privados. 

                    Dotada de un encanto fantasmal, su narrativa nos invita a vivir un momento intimo en el que la fantasía y el miedo palpitan por igual en nuestras almas. Finaliza, decorando elegantemente el recorrido, con sus poesías extraídas de una percepción surrealista.
                    
                    El diario de Alexander Forsberg es una historia polémica, 
                    donde un personaje egoísta se ve forzado a reconocer su propia maldad padeciendo las miseras que el mismo ocasionó.

                    La estatuilla de Ereshkigal muestra el horror oculto en el poder antiguo que la historia ha enterrado.

                    Finalmente, El sol negro, relata los días finales de un profesor retirado, cuya consciencia llegó a conocer el destino de su alma justo antes de dejar este mundo para siempre.
                </p>
            </div>
            <div class="carritocompras">
                <a target="_blank" href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/a07783dd-2bbe-49d1-9d0a-b02790dbe21d/payment-option-form/?router-request-id=e920b563-63fc-4d0e-8731-951aa46dc7c6&preference-id=193999884-98ccd76f-f030-4c09-b85e-ad7712e9e45c&p=11ef23d3777f7b37708662baf6c5c75b#/">
                        <img class="shopp" src="/assets/carritocompra.png" alt="Carrito de compras" width="100">
                </a>
            </div>
        </section>

        <section class="section">
            <div class="principal__titulo">
                <h2 id="rostromael">
                    El Rostro de Mael
                </h2>
            </div>

            <div class="libros__img">
                <img src="../assets/rostromael_portada.png" alt="Portada El rostro de Mael">
            </div>

                <p class="libros__texto texto--mael">
                    La portada del próximo libro "El rostro de Mael" a publicar. Realizada por mi muy querida
                    amiga, Victoria Azparren Decroce, y cuya publicación estará a cargo de Editorial Thelema.
                </p>
        </section>

    </main>

    <footer class="indexFooter">
        <div class="footer__social ft--radius">
            <a target="_blank" href="https://www.instagram.com/pasaje_vespertino/">
                <img src="../assets/instagram_logo2-1.png" alt="Instagram" width="50">
            </a>
            
        </div>
        <div class="footer__social ft--radius">
            <a target="_blank" href="https://www.facebook.com/alsophocus13">
            <img src="../assets/facbook_logo2-1.png" alt="Facebook" width="50">
        </a>
        </div>
        <div class="footer__social logo__twitter">
            <a target="_blank" href="https://twitter.com/elmetapsicotico">
            <img src="../assets/twitter_logo2-1.png" alt="Logo Twitter" width="50">
        </a>
        </div>
        <div class="derechos">
            ® Diseñado por Facundo Alcorta
        </div>
    </footer>

</body>
</html>